  .search-box {
    position: relative;
    /* Adding Position relative to the .search-box is important */
    border: 1px solid #d9d9d9;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 7px;
    width: 310px;
    padding: 15px;
    border-radius: 8px;
    z-index: 99999;
  }


  .search-box img {
    width: 50px;
    border: 1px solid red;
  }

  .search-box input {
    width: max(100%);
    outline: none;
    background: none;
    border: none;
  }

  /* This is the styling for the dropdown */
  /* Again, adding Position relative to the .search-box is important */

  .dropBox {
    position: absolute;
    background: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-shadow: #00000010 2px 2px 4px, #00000030 -1px 0 3px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.23s;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.23s;
  }

  /* All the elements in the dropBox */
  .title {
    color: rgb(201, 26, 26);
    font-size: small;
    font-weight: bold;
    padding: 18px 1em;
  }

  .top {
    color: #696969;
    font-size: small;
    background: #f2f2f2;
    font-weight: bold;
    padding: 1em;
    border-block: 1px solid gainsboro;
  }

  .allSearches {
    padding: 1em;
    gap: 5px;
    row-gap: 1rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-height: 250px;
    padding-bottom: 3rem;
    overflow-y: scroll;
  }

  .allSearches::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: none;
  }
  .allSearches::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
  }

  .search {
    min-width: 23%;
    max-width: 100%;
    word-break: break-all;
    padding: 0.5rem;
    border-radius: 6px;
    color: #696969;
    border: 1px solid #d9d9d9;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    cursor: pointer;
  }

  /* MAIN DROP BOX ACTION */

  /* .search-box:focus-within .dropBox{
      visibility: visible;
      opacity: 1;
      margin-top: 2.8rem;
  } */

  .search-box:focus-within .dropBox {
    visibility: visible;
    opacity: 1;
    margin-top: 2.8rem;
    max-height: 100vh;
  }

  .rxcross{
    transition: 0.2s all linear;
    /* transition-delay: 0.2s; */
  }

  @media only screen and (max-width:640px) {
    .Navbar{
           position: fixed;
           z-index: 1;
    }
  }